<div class="create_contents">
   <div class="create_title">
     <h1>本日の看護師は"#"です</h1>
   </div>
   <div class="comments">
      <div class="comment-1">
        <h1>後ほど伺います</h1>
      </div>
      <div class="comment-2">
        <h1>体温を測ってお待ちください</h1>
      </div>
   </div>
   <%= link_to "TOP", root_path, class: 'btn btn-defalt' %>
</div>