<div class="contents">
   <div class="title">
     <h1>Q.本日、看護師に相談したいことがありますか？</h1>
   </div>
   <div class="questions">
     <div class="question">
        <%= link_to questions_path, method: :post, class: "post" do %>
              なし
        <% end %>
        <%= link_to new_checkup_path, class: "post" do %>
              検査のついて
        <% end %>
          <%= link_to new_checkup_path, class: "post" do %>
              症状について
        <% end %>
        <a class="question-3" href="#">症状について</a>
        <a class="question-4" href="#">治療について</a>
     </ul>
   </div>
</div>
