<div class = "patient_list_contents">
  <div class = "side_bar">
    <%= render "side_bar" %>
  </div>
  <div class="v_line_fix"></div>
  <div class = "main">
    <%= render "main_list" %>
  </div>
</div>