/*======================================================*/
/*index*/
/*======================================================*/
.contents {
  padding-top: 150px;
  padding-bottom: 200px;
}

.title {
 padding-top: 15px;
 font-size: 25px;
 position: relative;
 display: flex;
 justify-content: center;
} 

.questions {
  padding: 80px 80px;
}

.question {
  display: flex;
  justify-content: space-around;
}

.question a {
  font-size: 20px;
  border: 1px solid lightblue;
  padding: 40px 20px;
  color: deepskyblue;
  text-decoration: none;
}

/*======================================================*/
/*create*/
/*======================================================*/

.create_contents{
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 25px;
}

.create_title {
  padding-left: 300px;
  position: relative;
  justify-content: center;
}

.comment-1 {
  padding-top: 30px;
  padding-left: 300px;
  justify-content: center;
}

.comment-2 {
   padding-top: 30px;
   padding-left: 300px;
   justify-content: center;
}

.top {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}